<!-- This section defines the primary toolbar with a menu button and navigation links -->
<mat-toolbar color="primary">
  <!-- Menu button with a click event to toggle the sidenav -->
  <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button>
  <!-- Title of the application -->
  <span id="menuTitle">Al Quran App</span>
  <!-- Navigation links with icons and router links -->
  <a mat-button routerLink="/" class="top-menu-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button routerLink="/bookmarks" class="top-menu-item"><mat-icon>people</mat-icon>Bookmarks</a>
  <a mat-button routerLink="/search" class="top-menu-item"><mat-icon>person_add</mat-icon>Search</a>
</mat-toolbar>

<!-- Container for the main content and sidenav -->
<mat-sidenav-container>
  <!-- Sidenav with fixed position, top gap, and side mode -->
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
      <!-- Side navigation items with links and icons, each closing the sidenav on click -->
      <div class="side-nav-items">
          <div>
              <!-- Closing the sidenav on click and navigating to home -->
              <a (click)="sidenav.close()" mat-button routerLink="/"
                  class="side-menu-item"><mat-icon>home</mat-icon>Home</a>
          </div>
          <div>
              <!-- Closing the sidenav on click and navigating to contacts -->
              <a (click)="sidenav.close()" mat-button routerLink="/contacts"
                  class="side-menu-item"><mat-icon>people</mat-icon>Contacts</a>
          </div>
          <div>
              <!-- Closing the sidenav on click and navigating to newcontact -->
              <a (click)="sidenav.close()" mat-button routerLink="/newcontact"
                  class="side-menu-item"><mat-icon>person_add</mat-icon>New Contact</a>
          </div>
      </div>
  </mat-sidenav>

  <!-- Sidenav content area with the main content rendered using router-outlet -->
  <mat-sidenav-content>
      <div class="main-content">
          <!-- Rendering the main content dynamically based on the current route -->
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
